<script language="javascript" type="text/javascript" src="p5.js"></script>

<script>
    var canvasWidth = 1000;
    var canvasHeight = 1000;
    var setup = function() {
        createCanvas(canvasWidth, canvasHeight);
    }
    var btnX = 100;
    var btnY = 10;
    var btnWidth = 130;
    var btnHeight = 30

    mouseClicked = function() {
        if (mouseX >= btnX && mouseX <= (btnX+btnWidth) && mouseY >= btnY && mouseY <= (btnY+btnHeight)) {
            console.log("Buttonned was pressed");
        }
    };
    draw = function (){
        rect(btnX,btnY,btnWidth,btnHeight);
    }
</script>
