<script language="javascript" type="text/javascript" src="p5.js"></script>
<script>
    radius = 1;
    scaledsradius = 1*300;
    var roundnumber = "BEFORE ONE";
    var canvasWidth = scaledsradius;
    var canvasHeight = scaledsradius;
    var setup = function() {
        createCanvas(canvasWidth, canvasHeight);
    }
    var dotsX = [];
    var dotsY = [];
    var dotsinside = 0;
    var dotsoutside = 0;
    var numberofdots = 5000;
    draw = function(){
        if(roundnumber == "BEFORE ONE"){
            ellipse(0,scaledsradius,scaledsradius*2,scaledsradius*2);
            line(0,0,0,scaledsradius);
            line(0,scaledsradius,scaledsradius,scaledsradius);
            line(0,0,scaledsradius,0);
            line(scaledsradius,0,scaledsradius,scaledsradius);
            console.log("Inside if statement")
            for(var i=0;i<numberofdots;i++){
                dotsX.push(Math.random()*scaledsradius);
                dotsY.push(Math.random()*scaledsradius);
                ellipse(dotsX[i],dotsY[i],1,1);
                roundnumber = "OVER ONE";
                if(Math.sqrt(dotsX[i]*dotsX[i] + dotsY[i]*dotsY[i]) < scaledsradius){
                    dotsinside+=1;
                }else{
                    dotsoutside+=1;
                }
            }
            calculatedpi = dotsinside/numberofdots * 4;
            console.log(calculatedpi);
        }
    }
</script> 
